* {
    font-family: Roboto;
}

body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.hero {
    display: flex;
    background-color: #1f2937;
    padding: 50px 100px;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 100px;
    background-color: #1f2937;
}

ul {
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 18px;
    color: #E5E7EB;
}

h3 {
    font-size: 24px;
    color: #F9FAF8;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

p {
    font-size: 18px;
    margin: 0;
}

.img {
    display: flex;
    font-size: 18px;
    color: #F9FAF8;
    background-color: grey;
    align-content: center;
    padding: 75px 100px;
}

.hero-title {
    display: flex;
    flex-direction: column;
    padding: 50px 200px 50px 25px;
    width: 460px;
    height: 220px;
    align-content: center;
}

.signup {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 4px;
    font-weight: 900;
    width: 100px;
    height: 70px;
    padding: 12px;
    border: 1px solid #3882F6;
}

.hero-paragraph {
    padding: 5px;
    color: #E5E7EB;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.randominfo {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.images {
    display: flex;
    justfy-content: space-evenly;
    align-items: stretch;
}

img {
    border: 3px solid #3882F6;
    border-radius: 8px;
    padding: 25px;
    height: 100px;
    width: 100px;
}

figure {
    display: table;
}

figcaption {
    display: table-caption;
    caption-side: bottom;
    color: grey;
    text-align: center;
}

.inspiringquote {
    background-color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
}

blockquote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}

.actioncall {
    display: flex;
    justify-content: center;
    background-color: #3882F6;
    border-radius: 8px;
    margin: 50px 300px;
    color: #F9FAF8;
    gap: 100px;
    padding: 30px;
}

.actionbutton {
    background-color: #3882F6;
    color: #F9FAF8;
    border: 1px solid #F9FAF8;
    border-radius: 4px;
    font-weight: 900;
    width: 100px;
    height: 40px;
    padding: 12px;
}

.footer {
    display: flex;
    background-color: #1F2937;
    color: #E5E7EB;
    justify-content: center;
    padding: 50px;
}