body {
    font-family: Roboto;
    margin: 0px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 100px 50px 100px;
    color: white;
    background-color: #1f2937;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 18px;
}

h3 {
    font-size: 24px;
}

.awesome {
    display:flex;
    flex-direction: column;
}